@keyframes anim {
	from {
		background-color: white;
	}
	to {
		background-color: red;
	}
}

#elem {
	animation-name: anim;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	border: 1px solid red;
	width: 200px;
	height: 200px;
}