@keyframes move {
	from {
		width: 100px;
	}
	to {
		width: 600px;
	}
}

#elem1 {
	padding: 10px;
    border: 1px solid red;
    margin-bottom: 30px;
	width: 200px;
}

#elem2 {
	width: 50px;
	animation-duration: 2s;
	animation-name: move;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-play-state: paused;
	border: 1px solid blue;
	height: 50px;
}

#elem1:hover + #elem2 {
	animation-play-state: running;
}