@keyframes move {
	0% {margin-left: 5px;margin-top: 5px;}
	25% {margin-left: 500px; margin-top: 5px;}
	50% {margin-left: 500px; margin-top: 200px;}
	75% {margin-left: 5px; margin-top: 200px;}
	100% {margin-left: 5px; margin-top: 5px;}
	
}

#elem {
	animation-name: move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	border: 1px solid red;
	width: 50px;
	height: 50px;
}